<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

  <!-- wp:group {"layout":{"inherit":true}} -->
  <div class="wp-block-group">
    <!-- wp:post-featured-image /-->
    <!-- wp:post-title {"fontSize":"large"} /-->

    <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

    <!-- wp:spacer {"height":40} -->
    <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-comments /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
